
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
  background-color: black;
  color: rgb(114, 185, 244);
  width: 50%;
  margin-left: 370px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container {
    background-color: #474545;
  width: 40%;
  height: 650px;
  text-align: center;
  margin-left: 460px;

}
.inner-container{
    width: 90%;
    display:flexbox;
}
input{
    width: 100%;
    height: 65px;
    font-size: 60px;
    background-color: #474545;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-weight: 700;
    text-align: right;
    border: none;
}
button{
    font-size: 60px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(25, 25, 25);
    color: white;
    column-gap: 10px;
}
.btns{
    columns: 4;
    margin:20px;
}
.op{
    background-color: rgb(114, 185, 244);
    color: white;
}
